.navbar {
  display: flex;
  align-items: center;
  margin: 1rem;
  color: var(--red);
  font-weight: 500;
  gap: 2rem;
}

.navbar a {
  text-decoration : none;
  color : var(--red);
}

.navbar a:hover {
  text-decoration : underline;
}

.navbar a.active {
  

}

.navbar__logo {
  margin-right: auto;
}
