@use "../scss/variables.scss" as *;

.navbar {
  display: flex;
  align-items: center;
  margin: 1rem;
  color: $color-primary;
  font-weight: 500;
  gap: 2rem;

  @media screen and (width <=768px) {
    text-transform: uppercase;
    font-weight: 400;
    gap: 1rem;

    a {
      font-size: 0.7rem;
    }
  }

  &>*:first-child {
    margin-right: auto;
  }

  & a {
    text-decoration: none;
    color: $color-primary;

    &.active,
    &:hover {
      text-decoration: underline;
    }
  }

  & &__logo {
    margin-right: auto;

  }

  img {
    width: 100%; // Par défaut, occupe toute la largeur possible
    height: auto;
    margin-left: 37px;

    @media screen and (max-width: 768px) {
      // Pour écrans mobiles
      width: 145px;
      height: 47px;
      margin-left: 0px;
    }
  }
}