$color-primary: #ff6060;
$color-secondary: #863535;
$color-tertiary: white;
$background-dark: #f6f6f6;
$background-light: #f6f6f6;
$grid-background-light: white;
$grid-background-dark: grey;
$footer-background-color: black;