@use "../scss/variables.scss" as *;

.banner {
  position: relative;
  display: grid;
  overflow: hidden;
  height: 111px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 25px;
  margin-top: 1.6rem;
  margin-bottom: 2.2rem;
  z-index: -2;
  color: $grid-background-light;
  place-items: center;
  background-image: url("../homeBanner.png");

  & &__title {
    font-weight: normal;
  }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    background-color: $background-dark;
    z-index: -1;
  }

}