@use "../scss/variables.scss" as *;

.banner {
  position: relative;
  display: grid;
  overflow: hidden;
  min-height: 140px;
  max-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 25px;
  margin: auto;
  margin-bottom: 2rem;
  color: $grid-background-light;
  place-items: center;
  background-image: url("../assets/homeBanner.png");

  & &__title {
    font-weight: normal;
  }

  &::before {
    content: "";
    position: absolute;
    border-radius: 25px;
    inset: 0;
    opacity: 0.5;
  }

}