@use "../scss/variables.scss" as *;

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 209px;
  background-color: $footer-background-color;
  color: $grid-background-light;
  gap: 3.2rem;
  margin-top: 1.6rem;

  & &__img {
    width: 122px;
    height: 39.444px;
    filter: grayscale(100%) contrast(100%) brightness(1000%) sepia(0%) saturate(0%);

  }
}